{
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"trailingComma": "all",
	"arrowParens": "always",
	"semi": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"proseWrap": "preserve"
}
